body {
    color: #000000;
    font-family: 'lato';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.flex {
    display: flex;    
}

.half-width {
    width: 50%;
} 

.header {
    padding: 23px 0 31px ;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.header-contact-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-contact-link {
    text-decoration: none;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.desc {
    padding: 170px 0;
    background-color: #191e22;
    background-image: url(../img/first_screen_bgr.jpg);
}

.desc-link {
    margin: 131px 0 0;
    color: #fff;
    background-color: #005FA3;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    min-height: 84px;
    width: 333px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-title {
    color: #fff;
    text-decoration: none;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
}

.service {
    background: #ebebeb;
    padding: 140px 0;
}

.section-title {
    color: bdbdbd;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin: 0 0 40px;
}

.section-sub-title {
    color: #333;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    margin: 107px 0;
}

.customer-sub-title {
    margin: 0 0 43px;
}

.servise-sub-tatile {
    margin: 0 0 102px;
}

.section-sub-title-color {
    color: #005FA3;
}

.about {
    padding: 140px 0;
}

.about-text {
    width: 445px;
}

.about-sub-title {
    margin: 0 0 60px;
}

.about-number {
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    margin: 30px;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.about-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 47px 0 0;
}

.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-bgr {
    background-color: #ebebeb;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-bgr-fourth {
    background-color: #005FA3;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-number-fourth {
    color: #fff;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
}

.about-title-fourth {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.about-link-fourth {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 47px 0 0;
}

.customer-bgr {
    background-color: #ebebeb;
}

.customer-item {
    padding: 85px 0 92px;
}

.service-title-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}

.service-item-title {
    background-color: #333;
    background-image: url(../img/services_bgr.jpg);
    background-repeat: no-repeat;
    line-height: 30px;
    width: 350px;
    min-height: 360px;
    display: block;
    padding: 45px;
    color: #fff;
    box-sizing: border-box;
}

.review {
    padding: 174px 0 120px;
}

.review-block-bgr {
    background-color: #ebebeb;
}

.review-button {
    background-color: #005FA3;
    color: #fff;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    border: none;
    min-height: 60px;
    width: 270px;
}

.review-slider-button {
    height: 10px;
    width: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}

.review-slider-button-active {
    opacity: 1;
}

.review-slider-arrow {
    width: 60px;
    height: 60px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    opacity: 0.4;
}

.review-slider-arrow-active {
    opacity: 1;
}

.review-item {
    padding: 45px 95px;
}

.review-item-text {
    color: #000;
    margin: 0 0 58px;
}

.review-item-author {
    color: #000;
}

.review-item-position {
    color: #ebebeb;
}

.advantage {
    background-color: #ebebeb;
    padding: 102px 0 112px;
}

.advantage-img {
    height: 126px;
    width: 114px;
}

.advantage-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 132%;
}

.display-none {
    display: none;
}

.footer {
    background-color: #333;
    background-image: url(../img/first_screen_bgr.jpg);
    color: #fff;
    text-decoration: none;
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-title {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
}

.footer-text {
    padding: 60px 0;
    display: block;
}

.footer-contact {
    padding: 80px 0;
}

.footer-contact-link {
    color: #fff;
    text-decoration: none;
}

.footer-about {
    padding: 50px 0 0;
}