body {
    color: #000000;
    font-family: 'lato';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.header-contact-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-contact-link {
    text-decoration: none;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.desc {
    background-color: #191e22;
    background-image: url(../img/first_screen_bgr.jpg);
}

.desc-link {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}

.desc-title {
    color: #fff;
    text-decoration: none;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
}

.service {
    background: #ebebeb;
}

.section-title {
    color: bdbdbd;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
}

.section-sub-title {
    color: #333;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
}

.section-sub-title-color {
    color: #005FA3;
}

.about-number {
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.about-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.about-bgr {
    background-color: #ebebeb;
}

.about-bgr-fourth {
    background-color: #005FA3;
}

.about-number-fourth {
    color: #fff;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
}

.about-title-fourth {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.about-link-fourth {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.customer-bgr {
    background-color: #ebebeb;
}

.service-title-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}

.service-item-title {
    background-color: #333;
    background-image: url(../img/services_bgr.jpg);
    background-repeat: no-repeat;
    line-height: 30px;
    width: 350px;
    height: 360px;
    display: block;
    padding: 45px;
    color: #fff;
    box-sizing: border-box;
}

.review-block-bgr {
    background-color: #ebebeb;
}

.review-button {
    background-color: #005FA3;
    color: #fff;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    border: none;
}

.review-item-text {
    color: #000;
}

.review-item-author {
    color: #000;
}

.review-item-position {
    color: #ebebeb;
}

.advantage {
    background-color: #ebebeb;
}

.advantage-img {
    height: 126px;
    width: 114px;
}

.advantage-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 132%;
}

.connection {
    background-color: #333;
    background-image: url(../img/first_screen_bgr.jpg);
    color: #fff;
    text-decoration: none;
}

.connection-title {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
}

.footer-contact-link {
    color: #fff;
    text-decoration: none;
}