body {
    color: #000000;
    font-family: 'lato';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.blue-icon {
    fill: #005FA3;
}

[type="radio"] {
    display: none;
}

.radio-lable {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

.radio-lable::before {
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    border: 2px solid #fff;
    border-radius: 50%;
    left: -17px;
    bottom: -1px;
}

[type="radio"]:checked+.radio-lable::before {
    background-color: #ee6565;
}

.from-like-input-wrp {
    margin: 0 0 0 17px;
}

.radio-lable:nth-of-type(n+2) {
    margin: 0 0 0 55px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.flex {
    display: flex;    
}

.half-width {
    width: 50%;
} 

.wrp-padding {
    padding: 0 0 0 15px;
}

.header {
    padding: 23px 0 31px ;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 0 100px 0 0;
    /* border: 1px solid red; */
}

.header-contact {
    display: flex;
    width: auto;
    flex-direction: column;    
    /* border: 1px solid black; */
}

.header-contact-container {
    display: flex;
    margin: 0 0 18px;
    width: 800px;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid blue; */
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.header-contact-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-contact-item {
    display: flex;
    align-items: center;
}

.header-contact-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-contact-link:hover .header-contact-text, 
.header-contact-link:focus .header-contact-text {
    /* opacity: 0.7; */
    color: #005FA3;
}

.header-contact-link:hover .blue-icon, 
.header-contact-link:hover .blue-icon {
    /* opacity: 0.7; */
    fill: #ee6565;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #005FA3;
}

.header-nav-link:active {
    opacity: 0.7;
}

.desc {
    padding: 170px 0;
    background-color: #191e22;
    background-image: url(../img/first_screen_bgr.jpg);
}

.desc-link {
    margin: 131px 0 0;
    color: #fff;
    background-color: #005FA3;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    min-height: 84px;
    width: 333px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-link:hover,
.desc-link:focus {
    background-color: #0591f5;
}

.desc-title {
    color: #fff;
    text-decoration: none;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
}

.service {
    background: #ebebeb;
    padding: 140px 0;
}

.section-title {
    color: bdbdbd;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin: 0 0 40px;
}

.section-sub-title {
    color: #333;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    margin: 27px 0;
}

.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cliet-item-link {
    display: block;
}

.cliet-item-link:hover {
    outline: 2px solid #005FA3;
}

.customer-sub-title {
    margin: 0 0 43px;
}

.servise-sub-tatile {
    margin: 0 0 102px;
}

.section-sub-title-color {
    color: #005FA3;
}

.about {
    padding: 140px 0;
}

.about-text {
    width: 445px;
}

.about-sub-title {
    margin: 0 0 60px;
}

.about-number {
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    margin: 30px;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.about-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 47px 0 0;
}

.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-bgr {
    background-color: #ebebeb;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-bgr:nth-of-type(n+3) {
    margin: 30px 0 0;
}

.about-number-fourth {
    color: #fff;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
}

.about-title-fourth {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.about-link-fourth {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 47px 0 0;
}

.customer-bgr {
    background-color: #ebebeb;
}

.customer-item {
    padding: 85px 0 92px;
}

.service-item {
    background-color: #333;
    background-image: url(../img/services_bgr.jpg);
    width: 350px;
    min-height: 360px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.service-item:nth-of-type(n+4) {
    margin: 30px 0 0;
}

.service-title-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}

.service-item::before {
    width: 100%;
    height: 100%;
    content: '';
    background-color: #005FA3;
    opacity: 0.65;
    position: absolute;
    top: 0;
    display: none;
}

.service-item:hover.service-item::before,
.service-item:focus.service-item::before {
    display: block;
}

.service-item-title {
    line-height: 30px;
    padding: 45px;
    color: #fff;
    position: relative;
}

.review {
    padding: 174px 0 120px;
}

.review-block-bgr {
    background-color: #ebebeb;
}

.review-button {
    background-color: #005FA3;
    color: #fff;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    border: none;
    min-height: 60px;
    width: 270px;
}

.review-slider-button {
    height: 10px;
    width: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}

.review-slider-arrow {
    width: 60px;
    height: 60px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    opacity: 0.4;
}

.review-slider-arrow-active {
    opacity: 1;
}

.review-slider-arrow-active:hover,
.review-slider-arrow-active:focus {
    background-color: #0591f5;
}

.review-slider-arrow-active:active {
    opacity: 0.7;
}

.review-item {
    padding: 45px 95px;
}

.review-item-text {
    color: #000;
    margin: 0 0 58px;
}

.review-item-author {
    color: #000;
}

.review-item-position {
    color: #ebebeb;
}

.advantage {
    background-color: #ebebeb;
    padding: 102px 0 112px;
}

.advantage-img {
    height: 126px;
    width: 114px;
    margin: 0 0 27px;
}

.advantage-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 132%;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}

.footer-bkg {
    background-color: #333;
    background-image: url(../img/first_screen_bgr.jpg);
    color: #fff;
    text-decoration: none;
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-title {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
}

.footer-text {
    padding: 60px 0;
    width: 445px;
}

.footer-contact {
    padding: 80px 0;
}

.footer-contact-link {
    color: #fff;
    text-decoration: none;
}

.footer-about {
    padding: 50px 0 0;
    display: flex;
    justify-content: space-between;
}

.white {
    color: #fff;
}

.form-row-wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
    flex-wrap: wrap;
}

.input-lable,
.from-like-legend {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 15px;
    color: #fff;

}

input {
    width: 255px;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-family: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color: #fff;
}

textarea {
    width: 100%;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    min-height: 105px;
    margin: 0 0 50px;
    font-family: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color: #fff;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color:#bdbdbd;
}

.from-button {
    display: block;
    width: 270px;
    min-height: 60px;
    margin: 0 auto;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-close {
    display: none;
}

.popup-wrp {
    background-color: #262626;
    width: 733px;
    min-height: 636px;
    padding: 55px 95px 69px;
    box-sizing: border-box;
    position: relative;
}

.popup-cross {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 19px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.popup-cross:hover,
.popup-cross:focus {
    cursor: pointer;
    opacity: 0.7;
}

.popup-cross-icon {
    width: 30px;
    height: 28px;
}

.popup-title {
    color: #fff;
    text-decoration: none;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
    margin: 0 0 64px;
}

.review-lable {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 15px;
    color: #fff;
    margin: 34px 0 0;
}